@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #F2F2F2;
  text-align: left;
}
.main-container {
  flex-grow: 1;
}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header,
.catalog-header {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
.page-header-wrap,
.catalog-header-wrap {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}
.navigation-link,
.user-navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
.navigation-link-logo {
  width: 138px;
  margin-right: 30px;
}
.navigation-menu {
  max-width: 350px;
  margin-right: auto;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
}
.navigation-item {
  margin-right: 16px;
  margin-left: 16px;
}
.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 120px;
}
.user-navigation-link {
  margin-right: 12px;
  margin-left: 12px;
}
.navigation-button {
  width: 160px;
  margin-left: 20px;
}
.number-of-favorite {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
  font-weight: 400;
}
.navigation-button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
.hero {
  background-color: #7DB54F;
  background-image: url(../images/index-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: inherit;
}
.hero-img {
  display: block;
  margin: 0 auto;
}
.advantages,
.services,
.booking {
  text-align: center;
}
.advantages {
  display: flex;
  flex-direction: column;
}
.advantages-wrap {
  width: 651px;
  margin: 0 auto;
}
.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}
.services-title,
.booking-title,
.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.advantages-item {
  background-color: #83B3D320;
  width: 400px;
}
.advantages-item-medium {
  width: 1200px;
  display: flex;
}
.advantages-item-medium {
  background-color: #82B3D3;
  color: #ffffff;
}
.advantages-item-light {
  background-color: #83B3D312;
}
.advantages-reverse {
  flex-direction: row-reverse;
}
.advantages-item-title,
.services-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
}
.services {
  display: flex;
  flex-direction: column;
}
.services-wrap {
  max-width: 505px;
  margin: 0 auto;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
}
.services-item {
  width: 400px;
}
.item-light {
  background-color: #83B3D312;
}
.advantages-description,
.services-description {
  font-size: 18px;
  line-height: 21px;
}
.subscribe-title {
  color: #ffffff;
}
.booking-wrap {
  display: flex;
  flex-direction: column;
  width: 590px;
  margin: 0 auto;
}
.booking-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}
.subscribe {
  background-color: #82B3D3;
  background-image: url(../images/subscribe-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
}
.subscribe-wrap {
  display: flex;
  flex-direction: column;
  width: 685px;
  margin: 0 auto;
}
.subscribe-email {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
  text-decoration: none;
}
.contact-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.page-footer {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
.page-footer-wrap {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}
.social-list {
  width: 145px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
.developer-link {
  width: 115px;
  margin-left: auto;
}
.main-catalog-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
.main-catalog-header {
  background-color: #82B3D3;
  background-image: url(../images/filter-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: left;
}
.page-header-wrap
.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}
.main-catalog-header-wrap {
  width: 1060px;
  margin: 0 auto;
}
.catalog-filter-group {
  min-width: 150px;
}
.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
}
.breadcrumbs-item {
  min-width: 15px;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}
.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}
.controls {
  font-size: 18px;
  line-height: 23px;
}
.control{
  font-size: 18px;
  line-height: 24px;
  color: #00000030;
}
.filter-button,
.hotel-more-button,
.favorite-hotel {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}
.control-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.active-filter-button {
  background-color: #82B3D3;
}
.filter-button-reset {
  background-color: transparent;
}
.catalog-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
}
.option-value,
.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border-color: #ffffff;
}
.catalog-buttons-wrap {
  display: flex;
  flex-direction: column;
}
.catalog-wrap {
  width: 1060px;
  margin: 0 auto;
}
.catalog-title-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-view-list {
  width: 160px;
  margin-left: 70px;
}
.select-control{
  width: 295px;
  margin-left: auto;
}
.hotel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 17px;
}
.hotel-card {
  background-color: #fff;
  width: 340px;
  border: 1px solid #E6E6E6;
}
.hotel-card-link{
  color: #000000;
  text-decoration: none;
  text-align: left;
}
.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
}
.hotel-card-description,
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
.hotel-more-button {
  background-color: #756157;
}
.favorite-select {
  background-color: #7DB54F;
}
.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  text-transform: uppercase;
}
.subscribe-catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.pagination {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}
.pagination-item {
  width: 60px;
  margin-right: 8px;
}
.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}
.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-more {
  font-size: 20px;
  line-height: 26px;
  background-color: #ffffff;
  color: #000000;
}
.subscribe-catalog {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
}
.subscribe-catalog-description {
  color: #333333;
}
